[submodule "home"]
	path = home
	url = git@github.com:M0nicaVaz/mfe-home.git
	branch = main
[submodule "login"]
	path = login
	url = git@github.com:M0nicaVaz/mfe-login.git
	branch = main
[submodule "shared"]
	path = shared
	url = git@github.com:M0nicaVaz/mfe-shared.git
	branch = main
